<div class = "container" id = "home-page">
  <div class="row">

    <% if logged_in? %>
    <div class="col-md-4" id = "user-bar">
    <div class="col-md-12" id= "user-specific">
        <div class="col-xs-7" id = "user-info">
          <%= render current_user %>
        </div>
        
        <% if @notifications.any? %>
        <div class="col-xs-5" id = "notification-pills">
        <h4>Notifications</h4>
          <ul class="nav nav-pills nav-stacked" role="tablist">
            <li role="presentation" ><a data-toggle="pill" href="#tags">Shared With Me<span class="badge"><%= current_user.passive_tags.where(viewed: false).count %></span></a></li>
            <li role="presentation"><a data-toggle="pill" href="#likes">Likes<span class="badge"><%= current_user.quote_likes.where(viewed: false).count + current_user.clip_likes.where(viewed: false).count %></span></a></li>
          </ul>
        </div>
        
        <div class="col-xs-12">
          <div class="tab-content items">
            <div id="tags" class="tab-pane fade">
              <%= render @tagged_in %>
              <div class="text-center">
                <%= will_paginate @tagged_in, inner_window: 1, outer_window: 0, previous_label: "<", next_label: ">", renderer: BootstrapPagination::Rails, param_name: "shared" %>
              </div>
            </div>
            <div id="likes" class="tab-pane fade">
              <%= render @notifications %>
              <div class="text-center">
                <%= will_paginate @notifications, inner_window: 1, outer_window: 0, previous_label: "<", next_label: ">", renderer: BootstrapPagination::Rails, param_name: "likes" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>

        <div id = "my-lists">
          <%if current_user.lists.any? %>
          <ul class="nav nav-tabs">
            <li class="active col-xs-6"><a data-toggle="tab" href="#lists"><h3>My BuzzLists</h3></a></li>
            <li class="col-xs-6"><a data-toggle="tab" href="#shows"><h3>Shows</h3></a></li>
          </ul>
          <div class="tab-content">
            <div id="shows" class="tab-pane fade">
              <%= form_tag root_path, method: 'get' do %>
              <p>
                <%= text_field_tag :search, params[:search], class: "form-control" %>
                <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
              </p>
              <% end %>
              <div class="my-flipster">
                <ul>
                  <% @shows.each do |show| %>
                  <li>
                    <%= link_to (image_tag show.poster, width: "125"), show_path(show) %> 
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div id="lists" class="tab-pane fade in active">
              <div class="list-group">
                <%= render current_user.lists %>
              </div>
            </div>
          </div>
          <% else %>
          <div id = "no-buzzlist-display">
            <%= form_tag root_path, method: 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search], class: "form-control" %>
              <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
            </p>
            <% end %>
            <div class="my-flipster">
              <ul>
                <% @shows.each do |show| %>
                <li>
                  <%= link_to (image_tag show.poster, width: "125"), show_path(show) %> 
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
        </div>
        </div>
    <% end %>
    
    <% if logged_in? %>
    <div class="col-md-8" id= "outer-feed">
      <% else %>
      <div class="col-md-12" id = "outer-feed">
        <% end %>
        <div id = "feed">
          <ul class="nav nav-pills nav-justified" id= "feed-filter">
            <li class="active"><a data-toggle="pill" href="#everything">Everything</a></li>
            <li><a data-toggle="pill" href="#your_stuff">Following</a></li>
          </ul>
          <div class="tab-content">
            <div id="everything" class="tab-pane fade in active">
              <div class='items transitions-enabled'>
                <%= render partial: 'feed', locals: {items: @feed_items} %>
              </div>
              <div class="text-center">
                <%= will_paginate @feed_items, inner_window: 1, outer_window: 0, previous_label: "<", next_label: ">", renderer: BootstrapPagination::Rails, param_name: "all_feed" %>
              </div>
            </div>
            <div id="your_stuff" class="tab-pane fade">
              <% if logged_in? %>
              <div class='items transitions-enabled'>
                <%= render partial: 'feed', locals: {items: @friend_feed_items} %>
              </div>
              <div class="text-center">
                <%= will_paginate @friend_feed_items, inner_window: 1, outer_window: 0, previous_label: "<", next_label: ">",renderer: BootstrapPagination::Rails, param_name: "my_feed" %>
              </div>
              <% end %>
              <%= link_to "Follow some friends", users_path, class: "btn btn-primary", id: "add-friends" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>