<% if logged_in? %>
<div class = "container" id = "home-page">
  <div class="row">
    <aside class="col-md-2" id = "user-info">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-6" id = "feed">
      <ul class="nav nav-tabs nav-justified">
      <li class = <%= "active" if params[:feed] == nil%>><%= link_to "Everyone", root_path %></li>
      <li class = <%= "active" if params[:feed] == "friends"%>><%= link_to "Your Friends", root_path(feed: "friends") %></li>
      </ul>
      <%= render 'shared/feed' %>
      <div class="text-center">
      <%= will_paginate @feed_items, renderer: BootstrapPagination::Rails%>
      </div>
      <%= link_to "Follow some friends", users_path, class: "btn btn-primary", id: "add-friends" %>
    </div>
    <div class="col-md-4" id = "my-buzzlists">
        <h3>My BuzzLists</h3>
        <%if current_user.lists.any? %>
        <ul class= "lists">
        <%= render current_user.lists %>
        </ul>
      <% end %>
      <h3>
      <%= link_to "Create a BuzzList", shows_path, class: 'btn btn-primary' %>
      </h3>
    </div>
  </div>
</div>
<% else %>
<div class="container">
<div class="center jumbotron">
  <h1>Welcome to BuzzList</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></br>
  Already have an account? <%= link_to "Login", login_path %> 
</div>
<div class="my-flipster">
  <ul>
  <% @shows.each do |show| %>
  <li>
<%= link_to (image_tag show.poster, size: "300"), show_path(show) %> 
</li>
<% end %>
</ul>

</div>

</div>
<% end %>
