<div class = "quote" id = "quote_<%= quote.id %>">
  <p>
    "<%= quote.content %>"</br>
    -<strong><%= quote.character.capitalize %></strong>
  </p>
  <div class = "uploader">
    Uploaded by</br> <%= link_to gravatar_for(User.find(quote.user_id), size: "20") + User.find(quote.user_id).name, user_path(User.find(quote.user_id)) %><br/>
  <% if quote.user == current_user %>
    <%= link_to 'delete quote', quote_path(quote.id), method: :delete, data: {confirm: "you sure?" }, remote: true %>
  <% end %>
  </div>
  <%= render partial: "shared/like_form", locals: {item_type: "Quote", item_id: quote.id} %>
  <small>Season <%= quote.episode.season.season_number %>: <%= link_to quote.episode.title, quote.episode %></small>

</div>