<div class = "col-md-3 col-sm-6" id = "user">
  <section>
    <%= link_to gravatar_for(user) + user.name, user %></br>
    <%= user.lists.count %> BuzzLists</br>
    <% if user.clips.any? || user.quotes.any? %>
    Added <%= user.clips.count %> clips</br>
    and <%= user.quotes.count %> quotes
    <% end %>
  </section>
  <section id = "follow_status_<%= user.id.to_s %>">
    <section class="stats">
      <%= render partial: 'shared/stats', locals: {user: user} %>
    </section>
    <%= render partial: 'follow_form', locals: {user: user} if logged_in? %>
    </section>
    </div>
