<% provide(:title, @user.name) %>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        Added <%= @user.clips.count %> clips</br>
        and <%= @user.quotes.count %> quotes</br>
        <% if current_user == @user %>
        <a href="http://gravatar.com/emails" target="_blank" rel="noopener" >change image</a>
        <% end %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
      </aside>
      <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
          <% if @user.lists.any? %>
            <h3> <%=@user.name%>'s BUZZLISTS </h3>
            <ul class="lists">
              <%= render @lists %>
            </ul>
            <% end %>
      </div>
    </div>
  </div>
  </div>
