<% provide(:title, @user.name) %>
<div class="container" id = "user-profile">
  <div class="row">
    <%= render @user %>
    <div class="col-md-9 col-sm-8" id = "my-lists">
      <% if @user.lists.any? %>
      <h3> <%=@user.name%>'s BUZZLISTS </h3>
      <ul class="lists">
        <%= render @lists %>
      </ul>
      <% end %>
    </div>
  </div>
  <div class = "row">
      <div class = "col-md-12">
        <ul class="nav nav-tabs" id = "user-added">
          <li role="presentation" class= <%= "active" if params[:items] == nil %>>
            <%= link_to "Added by " + @user.name, user_path %>
          </li>
          <li role="presentation" class= <%= "active" if params[:items] == 'liked' %>>
            <%= link_to "Liked by " + @user.name, user_path(items: "liked") %>
          </li>
          </ul>
          <div class='items'>
            <%= render @items %>
          </div>
      </div>
    </div>
  </div>
