<% @user ||= current_user %>
<% current_page?(controller: 'users', action: 'index') %>
<% if current_page?(controller: 'users', action: 'index') %>
<% @user = user %>
<% end %>
<div class="stats">
  <a href="<%= users_path(id: @user, follow_type: "following") %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= users_path(id: @user, follow_type: "followers") %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  <a href="<%= user_path(id: @user) %>">
    <strong id="karma" class="stat">
      <%= @user.quote_likes.count + @user.clip_likes.count %>
    </strong>
    karma
  </a>
</div>