<div class="episode" id="episode-<%= episode.id %>">
  <h3>
    <%= link_to(episode.title, episode_path(episode.id)) %>
    </h3>
    <% unless ListEpisode.exists?(list_id: List.find_by(user_id: current_user, show_id: episode.season.show_id), episode_id: episode.id)%>
      <%= link_to  "I Love this Episode", list_episodes_path(id: episode.id), method: :post, class: "btn btn-sm btn-primary", remote: true %></br>
    <% end %>
  
  <p>
    <%= episode.summary %>
  </p>
  <% if episode.buzzlisted != 0 %>
    <strong>
      buzzlisted <%= pluralize(episode.buzzlisted, 'time') %>
    </strong></br>
  <% end %>
  <%= link_to Clip.where(episode_id: episode).count.to_s + " Clips", episode_path(episode.id), class: "clips" %>
  <%= link_to Quote.where(episode_id: episode).count.to_s + " Quotes", episode_path(episode.id), class: "quotes" %>
</div>