<li>
  Episode <%= episode.episode_number %>
  <h3>
  <%= link_to(episode.title, episode_path(episode.id)) %>
  </h3>
  <p>
  <%= episode.summary %>
  </p>
  <%= link_to_unless ListEpisode.exists?(list_id: List.find_by(user_id: current_user.id, show_id: episode.season.show_id), episode_id: episode.id), "Add to your BUZZLIST", list_episodes_path(id: episode.id), method: :post %></br>
  <% if episode.buzzlisted %>
    buzzlisted <%= episode.buzzlisted %> times
  <% end %>
</li>