<% provide(:title, @episode.season.show.title + " | " + @episode.title) %>
<h1>
  <%= @episode.title %>
</h1>
<%= link_to "Add a quote", new_quote_path(episode: @episode)%>
<%= link_to "Add a clip", new_clip_path(episode: @episode) %>
<div class='items'>
  <%= render @quotes %>
  <%= render @clips %>
</div>