<% if current_user == list_episode.list.user %>
  <%= content_tag_for :li, list_episode, class: "list-group-item" do %>
    <%= link_to list_episode.episode.title, episode_path(list_episode.episode_id) %>
    <small>
      Season <%= list_episode.episode.season.season_number %> Episode <%= list_episode.episode.episode_number %>
    </small>
    <%= link_to "Remove", list_episode_path(list_episode), method: :delete, class: "btn btn-danger btn-xs" %>
  <% end %>
  <% else %>
    <li class = "list-group-item">
      <%= link_to list_episode.episode.title, episode_path(list_episode.episode_id) %>
    <small>
      Season <%= list_episode.episode.season.season_number %> Episode <%= list_episode.episode.episode_number %>
    </small>
    </li>
<% end %>