<% provide(:title, @show.title) %>
<%= @show.title %> 
<%= image_tag(@show.poster, size: "200") %>

<% rating_action = 'create' %>
<% button_method = :post %>

<% if Rating.exists?(user_id: current_user, show_id: @show.id) %>
  <% rating = Rating.find_by user_id: current_user, show_id: @show.id %>
  <% rating_id = rating.id %>
  <% rating_action = 'update' %>
  <% button_method = :patch %>
<% end %>

<% ["Love", "Like", "Hate"].each do |value| %>
<%= button_to value, {controller: 'ratings', action: rating_action, rating: value, show: @show, id: rating_id }, method: button_method %>
<% end %>

<% if @show.seasons.any? %>
  <h3>Seasons (<%= @show.seasons.count %>)</h3>
  <ol class="seasons">
    <%= render @seasons %>
  </ol>
<%end%>

<h3>Best Episodes</h3>
<ol class='best_episodes'>
  <%= render @episodes %>
</ol>